<header class="header">
  <img src="../../../../assets/img/game-stores.svg" class="img" />
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="86" fxFlex.sm="95" fxFlex.xs="90">
      <div class="border"><h4>Recharge Balance »</h4></div>
    </div>
  </div>
  <ul class="menu">
    <li>
      <a href="#profile"
        ><img
          src="../../../../assets/img/ic-user.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">Profile</span></a
      >
    </li>
    <li>
      <a href="#orders"
        ><img
          src="../../../../assets/img/ic-orders.svg"
          style="vertical-align: middle"
        /><span style="padding-left: 10px">Orders</span></a
      >
    </li>
    <li>
      <a href="#address"
        ><img
          src="../../../../assets/img/ic-addresses.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">Addresses</span></a
      >
    </li>
    <li>
      <a href="#wallet"
        ><img
          src="../../../../assets/img/ic-card.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">My Wallet</span></a
      >
    </li>
    <li>
      <a href="#ledger"
        ><img
          src="../../../../assets/img/ic-list.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">Ledger</span></a
      >
    </li>
    <li>
      <a href="#referral"
        ><img
          src="../../../../assets/img/ic-present.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">Referral Bonus</span></a
      >
    </li>
    <li>
      <a href="#complaints"
        ><img
          src="../../../../assets/img/ic-saved.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">Complaints Or Service Request</span></a
      >
    </li>
    <li>
      <a href="#logout"
        ><img
          src="../../../../assets/img/ic-logout.svg"
          style="vertical-align: middle"
        />
        <span style="padding-left: 10px">Sign Out</span></a
      >
    </li>
  </ul>
</header>
