<div align="center">
  <div class="length">
    <div class="color">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="15" fxFlex.sm="25" fxFlex.xs="25">
          <img src="../../../../assets/img/group-3.svg" />
        </div>
        <div fxFlex="45" fxFlex.sm="46" fxFlex.xs="46">
          <h2>Siva Prasad Reddy</h2>
          <h3>Available Coins : <span class="spa">5000</span></h3>
        </div>
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxHide.sm fxHide.xs>
          <button>My Wallet »</button>
        </div>
        <div fxFlex="20" fxFlex.sm="29" fxFlex.xs="29">
          <img src="../../../../assets/img/group-3.svg" />
        </div>
        <div fxHide.xl fxHide.lg fxHide.md fxFlex.sm="100" fxFlex.xs="100">
          <button>My Wallet »</button>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="90" fxFlex.sm="90" fxFlex.xs="90">
          <div class="border">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div fxFlex="25" fxFlex.sm="25" fxFlex.xs="25">
                <img src="../../../../assets/img/group-3.svg" />
              </div>
              <div fxFlex="40" fxFlex.sm="40" fxFlex.xs="40">
                <h2 class="head">COLORS <span class="span">GAME</span></h2>
              </div>
              <div fxFlex="5" fxFlex.sm="5" fxFlex.xs="5">
                <div class="dashed"></div>
              </div>
              <div fxFlex="25" fxFlex.sm="30" fxFlex.xs="30">
                <h4>Game is Live</h4>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="90" fxFlex.sm="90" fxFlex.xs="90">
          <div class="border">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div fxFlex="25" fxFlex.sm="25" fxFlex.xs="25">
                <img src="../../../../assets/img/poker-cards.jpg" />
              </div>
              <div fxFlex="40" fxFlex.sm="40" fxFlex.xs="40">
                <h2 class="head">A/B <span class="span">GAME</span></h2>
              </div>
              <div fxFlex="5" fxFlex.sm="5" fxFlex.xs="5">
                <div class="dashed"></div>
              </div>
              <div fxFlex="25" fxFlex.sm="30" fxFlex.xs="30">
                <h4 class="h4">COMING SOON</h4>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="90" fxFlex.sm="90" fxFlex.xs="90">
          <div class="border">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div fxFlex="25" fxFlex.sm="25" fxFlex.xs="25">
                <img src="../../../../assets/img/poker-card.jpg" />
              </div>
              <div fxFlex="40" fxFlex.sm="40" fxFlex.xs="40">
                <h2 class="head">CASINO <span class="span">GAME</span></h2>
              </div>
              <div fxFlex="5" fxFlex.sm="5" fxFlex.xs="5">
                <div class="dashed"></div>
              </div>
              <div fxFlex="25" fxFlex.sm="30" fxFlex.xs="30">
                <h4>UP COMING</h4>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="90" fxFlex.sm="90" fxFlex.xs="90">
          <div class="border">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div fxFlex="25" fxFlex.sm="25" fxFlex.xs="25">
                <img
                  src="../../../../assets/img/poker-cards-background-1017-3850.jpg"
                />
              </div>
              <div fxFlex="40" fxFlex.sm="40" fxFlex.xs="40">
                <h2 class="head">DUSKA <span class="span">DUM</span></h2>
              </div>
              <div fxFlex="5" fxFlex.sm="5" fxFlex.xs="5">
                <div class="dashed"></div>
              </div>
              <div fxFlex="25" fxFlex.sm="30" fxFlex.xs="30">
                <h4>COMING SOON</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
