<div align="center">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100">
      <mat-card style="margin-top: 0px !important">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="14">
            <img
              src="../../../../assets/img/game-stores.svg"
              width="33px"
              height="33px"
            />
          </div>
          <div fxFlex="70">
            <h4>Siva Prasad Reddy</h4>
            <p>Available Coins: <b>$ 5000</b></p>
          </div>
          <div fxFlex="16"></div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="60">
      <div class="color">
        <h4 style="font-size: 13px !important">
          Kings XI Punjab vs Delhi Capitals Kings XI won the toss and choose to
          Bat (20 overs)
        </h4>
      </div>
    </div>
    <div fxFlex="8"></div>
    <div fxFlex="22">
      <div class="color">
        <h2>Bet Open</h2>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="100">
      <div class="color">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
          <div fxFlex="90" fxFlex.sm="92" fxFlex.xs="94">
            <h4 style="text-align: left">Toss</h4>
          </div>
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="42">
      <button class="btn1">Kings XI Punjab</button>
    </div>
    <div fxFlex="6"></div>
    <div fxFlex="42">
      <button class="btn2">Delhi Capitals</button>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="5"></div>
    <div fxFlex="42">
      <div class="color"><h4>0.95</h4></div>
    </div>
    <div fxFlex="6"></div>
    <div fxFlex="42">
      <div class="color"><h4>0.95</h4></div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="100">
      <div class="color">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
          <div fxFlex="90" fxFlex.sm="92" fxFlex.xs="94">
            <h4 style="text-align: left">Match</h4>
          </div>
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="40">
      <h4 style="text-align: left; margin-top: 10px">Favourite</h4>
      <div class="color" style="margin-top: 10px !important">
        <h4>Delhi Capitals</h4>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <h4 style="margin-top: 10px">Bet</h4>
      <button class="btn1" style="margin-top: 10px !important">0.50</button>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <h4 style="margin-top: 10px">Eat</h4>
      <button class="btn2" style="margin-top: 10px !important">0.55</button>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="100">
      <div class="color">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
          <div fxFlex="90" fxFlex.sm="92" fxFlex.xs="94">
            <h4 style="text-align: left">Sessions</h4>
          </div>
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="40">
      <h4 style="text-align: left; margin-top: 10px">Rate Both 0.95</h4>
      <div class="color" style="margin-top: 10px !important">
        <h4>6 Overs Score</h4>
      </div>
      <div class="color" style="margin-top: 10px !important">
        <h4>Maxwell</h4>
      </div>
      <div class="color" style="margin-top: 10px !important">
        <h4>1st Wicket</h4>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <h4 style="margin-top: 10px">No</h4>
      <button class="btn1" style="margin-top: 10px !important">50</button>
      <button class="btn1" style="margin-top: 10px !important">20</button>
      <button class="btn1" style="margin-top: 10px !important">30</button>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <h4 style="margin-top: 10px">Yes</h4>
      <button class="btn2" style="margin-top: 10px !important">51</button>
      <button class="btn2" style="margin-top: 10px !important">21</button
      ><button class="btn2" style="margin-top: 10px !important">31</button>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="100">
      <div class="color">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
          <div fxFlex="90" fxFlex.sm="92" fxFlex.xs="94">
            <h4 style="text-align: left">Match Bets</h4>
          </div>
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="60" fxFlex.sm="90" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="33.333">
            <p style="text-align: left">Team</p>
            <h4 style="text-align: left">Delhi Capitals</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left">Mode</p>
            <h4 style="text-align: left">Bet</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left">Rate</p>
            <h4 style="text-align: left">0.50</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Amount</p>
            <h4 style="text-align: left">1000</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Winning Amount</p>
            <h4 style="text-align: left; color: #00a557">1500</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Status</p>
            <h4 style="text-align: left">Inprogress</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="100">
      <div class="color">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
          <div fxFlex="90" fxFlex.sm="92" fxFlex.xs="94">
            <h4 style="text-align: left">Session Bets</h4>
          </div>
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
        </div>
      </div>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="60" fxFlex.sm="90" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="33.333">
            <p style="text-align: left">Title</p>
            <h4 style="text-align: left">6 Overs Score</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left">Mode</p>
            <h4 style="text-align: left">Yes</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left">Runs</p>
            <h4 style="text-align: left">50</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Amount</p>
            <h4 style="text-align: left">1000</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Winning Amount</p>
            <h4 style="text-align: left; color: #00a557">1950</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Status</p>
            <h4 style="text-align: left">Inprogress</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="5"></div>
    <div fxFlex="60" fxFlex.sm="90" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="33.333">
            <p style="text-align: left">Title</p>
            <h4 style="text-align: left">Maxwell Score</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left">Mode</p>
            <h4 style="text-align: left">Yes</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left">Runs</p>
            <h4 style="text-align: left">50</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Amount</p>
            <h4 style="text-align: left">1000</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Winning Amount</p>
            <h4 style="text-align: left; color: #00a557">1950</h4>
          </div>
          <div fxFlex="33.333">
            <p style="text-align: left; margin-top: 10px">Status</p>
            <h4 style="text-align: left">Inprogress</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="100">
      <div class="color">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
          <div fxFlex="90" fxFlex.sm="92" fxFlex.xs="94">
            <h4 style="text-align: left">Special Games</h4>
          </div>
          <div fxFlex="5" fxFlex.sm="4" fxFlex.xs="3"></div>
        </div>
      </div>
    </div>
    <div fxFlex="60" fxFlex.sm="90" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="50" style="text-align: left">
            <h4>Andhar / Bahar Game</h4>
          </div>
          <div fxFlex="9"></div>
          <div fxFlex="41">
            <h4 style="text-align: right; color: #00a557">
              <img
                src="../../../../assets/img/oval.svg"
                style="width: 6px; height: 6px; vertical-align: middle"
              /><span> Live</span>
            </h4>
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="45">
            <img
              src="../../../../assets/img/cards.jpg"
              class="img"
              style="
                vertical-align: middle;
                width: 60px;
                height: 60px;
                margin-top: 10px;
              "
            />
            <span style="padding-left: 10px; margin-top: 12px">A/B Game</span>
          </div>
          <div fxFlex="55"></div>
        </div>
      </mat-card>
      <br />
    </div>
  </div>
  <br />
</div>
