<div align="center">
  <div class="center length">
    <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100">
          <img src="../../../assets/img/group-3.svg" />
        </div>
        <div fxFlex="100" style="margin-top: 20px;">
          <form #myForm="ngForm" novalidate autocomplete="off">
            <mat-tab-group>
              <mat-tab label="NEW PASSWORD">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <div fxFlex="51" fxFlex.sm="60" fxFlex.xs="90">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter New Password</mat-label>

                      <input
                        matInput
                        placeholder="Enter New Password"
                        name="password"
                        [(ngModel)]="password.password"
                        #passwordPassword="ngModel"
                        required
                      />
                    </mat-form-field>
                    <p
                      class="error"
                      *ngIf="
                        !passwordPassword.valid && passwordPassword.touched
                      "
                    >
                      Password is Required
                    </p>
                  </div>
                  <div fxFlex="51" fxFlex.sm="60" fxFlex.xs="90">
                    <button mat-raised-button>
                      Save & Continue to Home
                    </button>
                  </div>
                </div>
              </mat-tab></mat-tab-group
            >
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
