<div align="center">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100">
      <mat-card style="margin-top: 0px !important"
        ><img
          src="../../../../assets/img/game-stores.svg"
          width="87px"
          height="40px"
          style="margin: 20px 0px"
      /></mat-card>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <mat-card style="margin: auto">
        <h4>My Account Details</h4>
        <hr />
        <p>Siva Prasad Reddy</p>
        <p>Available Coins : <b>$ 5000</b></p>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="47">
            <button class="btn1">Withdrawl</button>
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="47">
            <button class="btn2">Recharge</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90"><h3>Live Matches</h3></div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="50">
            <h4>Indian Premier League 2020</h4>
          </div>
          <div fxFlex="9"></div>
          <div fxFlex="41">
            <h4 style="text-align: right">16 Sep 2020 | 07:00 PM</h4>
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="34">
            <p style="text-align: center">Kings XI Punjab</p>
            <img src="../../../../assets/img/kings.jpg" class="img" />
          </div>
          <div fxFlex="35">
            <h4 style="text-align: center">VS</h4>
          </div>
          <div fxFlex="31">
            <p style="text-align: center">Delhi Capitals</p>
            <img src="../../../../assets/img/delhi.jpg" class="img" />
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="35">
            <p>Match Bets : 0</p>
          </div>
          <div fxFlex="30"></div>
          <div fxFlex="35">
            <p style="text-align: right">Session Bets : 0</p>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="50">
            <h4>Indian Premier League 2020</h4>
          </div>
          <div fxFlex="9"></div>
          <div fxFlex="41">
            <h4 style="text-align: right">16 Sep 2020 | 07:00 PM</h4>
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="28">
            <p style="text-align: center">SunRisers Hyderabad</p>
            <img src="../../../../assets/img/sunrisers.jpg" class="img" />
          </div>
          <div fxFlex="35">
            <h4 style="text-align: center">VS</h4>
          </div>
          <div fxFlex="37">
            <p style="text-align: center">Royal Challengers Bangalore</p>
            <img src="../../../../assets/img/bangalore.jpg" class="img" />
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="35">
            <p>Match Bets : 0</p>
          </div>
          <div fxFlex="30"></div>
          <div fxFlex="35">
            <p style="text-align: right">Session Bets : 0</p>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <h3>Upcoming Matches</h3>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="50">
            <h4>Indian Premier League 2020</h4>
          </div>
          <div fxFlex="9"></div>
          <div fxFlex="41">
            <h4 style="text-align: right">17 Sep 2020 | 07:00 PM</h4>
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="34">
            <p style="text-align: center">Kings XI Punjab</p>
            <img src="../../../../assets/img/kings.jpg" class="img" />
          </div>
          <div fxFlex="35">
            <h4 style="text-align: center">VS</h4>
          </div>
          <div fxFlex="31">
            <p style="text-align: center">Delhi Capitals</p>
            <img src="../../../../assets/img/delhi.jpg" class="img" />
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <h3>Special Games</h3>
    </div>
    <div fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="50">
            <h4>Andhar / Bahar Game</h4>
          </div>
          <div fxFlex="9"></div>
          <div fxFlex="41">
            <h4 style="text-align: right; color: #00a557">
              <img
                src="../../../../assets/img/oval.svg"
                style="width: 6px; height: 6px; vertical-align: middle"
              /><span> Live</span>
            </h4>
          </div>
          <div fxFlex="100">
            <hr />
          </div>
          <div fxFlex="55">
            <img
              src="../../../../assets/img/cards.jpg"
              class="img"
              style="vertical-align: middle"
            />
            <span style="padding-left: 10px">A/B Game</span>
          </div>
          <div fxFlex="45"></div>
        </div>
      </mat-card>
      <br />
    </div>
  </div>
</div>
